<% if @current_user.is_admin? %>
<p id="notice"><%= notice %></p>

<h1>Lista użytkowników</h1>

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>Imię</th>
      <th>Email</th>
      <th>Adres</th>
      <th>Telefon</th>
      <th>Administrator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.address %></td>
        <td><%= user.phone %></td>
        <td><%= user.is_admin %></td>
        <td><%= link_to 'Pokaż', user, class: "btn btn-success", :style => "color: #ffffff"%></td>
        <td><%= link_to 'Edytuj', edit_user_path(user), class: "btn btn-warning" , :style => "color: #ffffff"%></td>
        <td><%=link_to 'Pokaż historię rezerwacji', check_user_history_path(:data => {:user_id => user.id, :book_id => nil}), :class => "btn btn-success", :style => "color: #ffffff"%></td>
        <%if user.id != @current_user.id && !user.super_admin %>
        <td><%= link_to 'Usuń', user, method: :delete, data: { confirm: 'Czy jesteś pewien?' }, class: "btn btn-danger" , :style => "color: #ffffff"%></td>

        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @users%>
<br>

<%= link_to 'Dodaj nowego użytkownika', new_user_path, class: "btn btn-primary", style: "color: #ffffff" %>
<%else%>
<blockquote>
  <p class="text-danger">Nie masz wystarczających uprawnień do podglądu tej strony</p>
</blockquote>
<% end %>
