<%if (@user.id == @current_user.id) || @current_user.is_admin %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Imię:</strong>
  <%= @user.name %>
</p>
<p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Adres:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Telefon:</strong>
  <%= @user.phone %>
</p>
<br/><br>
<%= link_to 'Powrót', users_path, :class => "btn btn-warning", :style => "color: #ffffff" %>
<%else%>
<blockquote>
  <p class="text-danger">Nie masz wystarczających uprawnień do podglądu tej strony</p>
</blockquote>
<% end %>